body{background-color:#F5F2F5;margin:auto;color:#3b3b3b;}
.clear{clear:both;}
a{text-decoration: none;cursor: pointer;}
/* 
Bright Red: #DE354C
Deep Red: #932432
Pure Purple: #3C1874
Purple Tinged Grey: #283747
Cloud: #F3F3F3
*/
.muted{color:#353c44}
#header{}
#footer{border-top:1px solid #3C1874;}
#nav{border-top: 1px solid #283747;background-color:#283747;}
#top{}
#logo{float: left;color:#932432;text-transform: uppercase;}
#logo img{height:60px;margin:10px 0px;}

#toplink{float: right;line-height: 40px;}
.btn-top{padding:8px 20px;background-color:#3C1874;color:#fff;display:block;float:right;border-radius:20px;margin:20px 10px ;}
.btn-top:hover{background-color:#2a1250;}

.container{width:90%;margin:auto;}

#nav a{display:block;color:#fff;padding:10px 20px;float:left;}
#nav a:hover{background-color: #DE354C;}
#nav a.active{background-color: #932432;}
#title{padding:40px 0px;}
.featured{background-color:#e1e1e1;}
.text-center{text-align:center;}
.float-left{float:left}
.float-right{float:right}
.py-5{padding:40px 0px;}
.py-2{padding:20px 0px;}
.w-25{width:25%;}
.w-75{width:75%;}

.form-control{border:1px solid #3b3b3b;padding:6px;font-family:tahoma;margin:6px 0px;width:100%;}

.btn{margin:10px 0px;background-color: #283747;color:#fff;padding:8px 15px;border:0px;}
.btn:hover{background-color: #49617c; }

.alert{padding:6px;border-radius: 6px;}
.alert-success{background-color:#83f195;}
.alert-danger{background-color:#f7a38a;}


#featured-img{width:100%;}
#featured-text{width:100%;}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#featured-img{width:25%;}
    #featured-text{width:75%;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
} 